---
locale: es
title: home
eleventyNavigation:
  key: Home-es
  title: home
  order: 1
permalink: /es/index.html
numberOfLatestPostsToShow: 3
---
{% set postsCount = collections.posts | filterByLocale(locale) | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>{{ 'latest_posts' | i18n({ latest: ('Última' if latestPostsCount == 1 else 'Últimas'), count: latestPostsCount, posts: ('publicación' if latestPostsCount == 1 else 'publicaciones') }, locale) }}</h1>

{% set postslist = collections.posts | filterByLocale(locale) | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>se pueden encontrar {{ morePosts }} {{ 'publicación' if morePosts == 1 else 'publicaciones' }} más en <a href="/{{ locale }}/blog/">el archivo</a>.</p>
{% endif %}
