---
locale: en
title: home
eleventyNavigation:
  key: Home-en
  title: home
  order: 1
permalink: /en/index.html
numberOfLatestPostsToShow: 3
---
{% set postsCount = collections.posts | filterByLocale(locale) | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>{{ 'latest_posts' | i18n({ latest: 'Latest', count: latestPostsCount, s: ('s' if latestPostsCount != 1) }, locale) }}</h1>

{% set postslist = collections.posts | filterByLocale(locale) | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{{ 's' if morePosts != 1 }} can be found in <a href="/{{ locale }}/blog/">the archive</a>.</p>
{% endif %}
